<!DOCTYPE html>

<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">
        <br><br>
        <h3>Steal Ya cookies</h3><br>
        <p>
            Ohh, ooh, I smell a cookie douugh! <br>
            -Hackerman
        </p>
    </div>
</body>

<script type="text/javascript">document.cookie = "username=Null Byte";</script>
<% include partials/script %>

</html>