.wrapper{
    margin: 1em;
}

.cardWrapper{
    margin: 0.4em;
    min-width: 20em;
}

.badgeAsi{
    margin-top: -0.4em;
}

.formWrapper{
    margin-bottom: 3em;
}

#loginBtn{
    text-align: center;
}

#loginBtn:hover span{
    display: none;
}

#loginBtn:hover:before{
    content: "Log out";
}